2026-10-07-sql-inflight-shutdown-worker.md -text
2026-10-07-sql-transaction-shutdown-worker.md -text
2026-10-07-sql-script-dialog-worker.md -text
2026-10-07-sql-script-dialog-review.md -text
2026-10-08-sql-cancel-execution-identity-worker.md -text
2026-10-08-sql-cancel-identity-review.md -text
